:root{
    --letter-color: #F2F2F2;
    --special-color: #F2D06B;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.container-fondo:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;  
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
}

.bienvenida p{
    text-align: center;
    color: var(--letter-color);
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin: auto;
}

.pregunta{
    text-align: center;
    color: #FFE81F;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin: auto;
    padding-top: 70px;
    animation: fadeInTop 2s ease forwards;
}

.bienvenida{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeInTop 2s ease forwards;
}

#category select{
    background-color: rgba(0, 0, 0, 0.5);
    color: #F2F2F2;
    height: 50px;
    width: 220px;
    border-radius: 16px;
    margin-right: 5px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

option{
    background-color: rgba(0, 0, 0, 0.6);
    color: #F2F2F2;
}


#category{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
    gap: 20px;
    width: 100vw;
}

#list div{
    color: #000;
    background-color: #ffe91ff1;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    
}

#list div:hover{
    background-color: #f2f2f2;
}

#buttons{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#buttons button{
    color: #F2F2F2;
    font-size: 1.1em;
}

#buttons button:hover{
    color: #FFE81F;
    font-size: 1.1em;
}

@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}